In [1]:
import pandas as pd
from ast import literal_eval
import random

In [2]:
df = pd.read_parquet('test_ranking_scores_all.parquet')
df

,source_title,source_ID,target_title,context,section,mention_present,source_lead,first_version,second_version,direct_match,...,negative_contexts,target_lead,random_rank,bm25_rank,bm25_mentions_rank,exact_match_rank,fuzzy_match_rank,model_stage2_long_rank,model_stage1_rank,model_stage2_rank
0,Fish,285,Freshwater_fish,Freshwater fish\n41% of all fish live in fresh...,Freshwater fish,True,Fish (plural: fish or fishes) are a group of a...,9132736,9132737,True,...,[{'context': 'They have two sets of paired fin...,Freshwater fish are those that spend some or a...,6,1,1,1,1,1,1,1
1,Fish,285,Saltwater_fish,Saltwater fish\n59% of fish live in saltwater ...,Saltwater fish,True,Fish (plural: fish or fishes) are a group of a...,9132736,9132737,True,...,[{'context': 'The first fish developed about 5...,"Saltwater fish, also called marine fish or sea...",116,1,1,1,1,3,7,11
2,Fish,285,Shark,Related pages\n-Citizendium,Related pages,False,Fish (plural: fish or fishes) are a group of a...,9110845,9132736,True,...,[{'context': 'Fish (plural: fish or fishes) ar...,Sharks are a superorder of fish. This superord...,27,69,66,58,63,63,70,52
3,Geometry,315,Ancient_Greek,Geometry is the part of mathematics that studi...,Lead,False,Geometry is the part of mathematics that studi...,8970088,9105317,True,...,[{'context': 'Geometry is the part of mathemat...,Ancient Greek was an Indo-European language sp...,2,11,11,2,11,1,4,3
4,Hydrogen,355,Celsius,Properties\nHydrogen is classed as a reactive ...,Properties,True,Hydrogen is a chemical element found at the be...,9149164,9149805,True,...,[{'context': 'Hydrogen in nature\nIn its pure ...,"Celsius, sometimes called centigrade, is a uni...",6,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2967,Britain%27s_Got_It_Takes_More_Talent,1058409,Simon_Cowell,Britain’s Got More Talent is spin-off based of...,Lead,False,Britain’s Got More Talent is spin-off based of...,9161094,9161905,False,...,"[{'context': ""Britain’s Got More Talent is spi...","Simon Phillip Cowell is a British businessman,...",1,2,2,1,1,1,1,1
2968,Britain%27s_Got_It_Takes_More_Talent,1058409,Amanda_Holden,Britain’s Got More Talent is spin-off based of...,Lead,False,Britain’s Got More Talent is spin-off based of...,9161094,9161905,False,...,"[{'context': ""Britain’s Got More Talent is spi...",Amanda Holden is an English televsion personal...,1,2,2,1,1,1,1,1
2969,Britain%27s_Got_It_Takes_More_Talent,1058409,Alesha_Dixon,Britain’s Got More Talent is spin-off based of...,Lead,False,Britain’s Got More Talent is spin-off based of...,9161094,9161905,False,...,"[{'context': ""Britain’s Got More Talent is spi...",Alesha Anjanette Dixon is a British singer and...,2,1,2,1,1,1,1,1
2970,Britain%27s_Got_It_Takes_More_Talent,1058409,Kate_Garraway,Britain’s Got More Talent is spin-off based of...,Lead,False,Britain’s Got More Talent is spin-off based of...,9161090,9161094,True,...,"[{'context': ""Britain’s Got More Talent is spi...","Kathryn ""Kate"" Mary Draper-Garraway is an Engl...",2,1,2,1,2,1,1,1
2971,Britain%27s_Got_It_Takes_More_Talent,1058409,Jamie_Bamber,Britain’s Got More Talent is spin-off based of...,Lead,False,Britain’s Got More Talent is spin-off based of...,9161090,9161094,True,...,"[{'context': ""Britain’s Got More Talent is spi...",Jamie St John Bamber Griffith is an English ac...,1,2,2,1,1,1,1,1

In [3]:
df = df.to_dict(orient='records')

In [4]:
for i in range(10):
    sample = df[random.randint(0, len(df)-1)]
    print(f'Source Title: {sample["source_title"]}')
    print(f'Target Title: {sample["target_title"]}')
    print(f'Ranking Score: {sample["model_stage2_long_rank"]}')
    print(f'Context: {sample["context"]}')
    print(f'Section: {sample["section"]}')
    print(f'Missing Category: {sample["missing_category"]}')
    print('#############################################')

Source Title: 1842
Target Title: Psychologist
Ranking Score: 1
Context: Births
January 11 – William James, American philosopher and psychologist
Section: Births
Missing Category: None
#############################################
Source Title: 2nd_millennium
Target Title: 20th_century
Ranking Score: 8
Context: The 2nd millennium began on January 1, 1001 and ended on December 31, 2000.
Section: Lead
Missing Category: missing_mention
#############################################
Source Title: Minecraft
Target Title: Mojang_Studios
Ranking Score: 1
Context: If the player makes a LAN game, only players on the same network can play. Much like the rest of Minecraft, players can choose what they want to do. For example, they can choose to fight each other, or work together and survive. All game modes can be played in multiplayer.
Minecraft Realms
Minecraft Realms is a special version of the original multiplayer. Realms are multiplayer servers hosted by Mojang. Players can rent them for a small fee. In Minecraft Realms, there are several "mini-games", which are maps/games created by popular Minecraft users.
Section: Gameplay
Missing Category: None
#############################################
Source Title: Rob_Paulsen
Target Title: Easter_Bunny
Ranking Score: 1
Context: Toy Story 4 - Additional Voices
WALL-E - Additional Voices
Wakko's Wish – Yakko Warner, Pinky, Dr. Otto Scratchansnniff
Yogi Bear - Additional Voices
Yogi and the Invasion of the Space Bears – Zor Two
Yogi the Easter Bear – Easter Bunny, Male Ranger
Zootopia - Additional Voices

Video games
Animaniacs Game Pack – Yakko Warner, Pinky, Dr. Otto Scratchansniff
Animaniacs: The Great Edgar Hunt – Yakko Warner, Pinky, Dr. Otto Scratchansniff
Animaniacs: Ten Pin Alley – Yakko Warner, Pinky, Dr. Otto Scratchansniff
102 Dalmatians: Puppies to the Rescue – Fluffy
Section: Acting roles
Missing Category: None
#############################################
Source Title: Deaths_in_2023
Target Title: Burt_Young
Ranking Score: 14
Context: Atila Pesyani, 66, Iranian actor (The Redemption, Cease Fire, The Hidden Half), cancer.
Francisco Vidal, 82, Spanish actor (El Crack, The Enchanted Forest, Pan's Labyrinth).

7
Marouf al-Bakhit, 76, Jordanian military officer and politician, prime minister (2005–2007, 2011).
Terence Davies, 77, British screenwriter and film director (Distant Voices, Still Lives, The Long Day Closes, The House of Mirth).

8
Ted Schwinden, 98, American politician, governor (1981–1989) and lieutenant governor (1977–1981) of Montana, member of the Montana House of Representatives (1959–1963).
9
Jackson Anthony, 65, Sri Lankan actor (Gini Avi Saha Gini Keli, Guerilla Marketing) and film director (Julietge Bhumikawa), complications from a traffic collision.
Mikhail Golubovich, 79, Ukrainian actor (Lone Wolf, Luna Park, Brothel Lights).
Anthony Hickox, 64, English film director (Waxwork, Sundown: The Vampire in Retreat, Hellraiser III: Hell on Earth) and screenwriter.
Mang Hoi, 65, Hong Kong actor (The Human Goddess, Bruce Lee, D-Day at Macao, He Has Nothing But Kung Fu), oesophageal cancer.
Yulian Panich, 92, Russian actor (Road to Life, For the Power of the Soviets, Different Fortunes), television director and journalist.
Section: October 2023
Missing Category: missing_sentence
#############################################
Source Title: Ahir_Kingdom
Target Title: Chandravanshi
Ranking Score: 18
Context: Traikutakas
It is generally believed that Traikutas was another class of Abhira. And that is why it has also been called Abhir-Trikuta in history.Indradatta, Dahrasen and Vigrasen are the chief kings of this dynasty. The Trikutas are known for their Vaishnava sect, which claimed to be the Yadavs of the Heheya dynasty. And Dahrasen also performed Ashwamedh Yajna. The following were the principal rulers:
Maharaj Indra Dutt
Maharaj Dhrsen
Maharaj Wyagrasen.
Section: Traikutakas
Missing Category: missing_mention
#############################################
Source Title: 2023
Target Title: 1937
Ranking Score: 1
Context: Stéphane Demol, Belgian footballer (b. 1966)
Harry Markowitz, Nobel Prize-winning American economist (b. 1927)
June 23 – Frederic Forrest, American actor (b. 1936)
June 24 – Dean Smith, American athlete (b. 1932)
June 25 – John B. Goodenough, American materials scientist (b. 1922)
June 26 Lloyd Erskine Sandiford, 4th Prime Minister of Barbados (b. 1937)
June 29
Alan Arkin, American actor (b. 1934)
Tapley Seaton, 4th Governor-General of Saint Kitts and Nevis (b. 1950)

July
July 1 - Dilano van 't Hoff, Dutch racing driver (b. 2004)
July 2 - Milan Milutinović, former president of Serbia (b. 1942)
July 4 - Tabare Gomez Laborde, Uruguayan cartoonist (b. 1948)
Section: Deaths
Missing Category: None
#############################################
Source Title: Ivan_Katard%C5%BEiev
Target Title: Macedonians
Ranking Score: 1
Context: Ivan Katardžiev (Bulgarian: Иван Катарджиев; Macedonian: Иван Катарџиев) (January 6, 1926 – December 1, 2018) was a Macedonian historian. He was called the country's most important expert on the Internal Macedonian Revolutionary Organization and the Macedonian history under Yugoslavia as well as the early years of independence. Katardžiev was also director of the Institute for National History. Katadžiev died on December 1, 2018 in Skopje, North Macedonia at the age of 92.
Section: Lead
Missing Category: None
#############################################
Source Title: Made_You_Look
Target Title: Record_producer
Ranking Score: 1
Context: She decided to go back to the doo-wop genre on her fifth album after her song "Title" became famous on TikTok in 2021. She became more emotional and strong after getting pregnant, which helped her write better songs. Trainor wrote songs for the album which she thought people on TikTok would like. She got attention on it after making videos with Chris Olsen. Trainor released the song "Bad for Me" in June 2022. Trainor and Sean Douglas wrote "Made You Look" with its producer, Federico Vindver. Her therapist asked her to look at herself with no clothes on for five minutes. This and Trainor's low confidence about her body inspired the song. Trainor wrote the words "I'll make you double take / Soon as I walk away / Call up your chiropractor just in case your neck break" about how her husband, Daryl Sabara, bends to look at her when she leaves a room. Other lyrics were inspired by the things he does for her. Trainor wanted to continue writing songs about self-confidence as she had done on her older albums and make it easy to relate to like her song "All About That Bass" (2014).
Section: Background and release
Missing Category: None
#############################################
Source Title: Deaths_in_2023
Target Title: October_24
Ranking Score: 1
Context: Marzia Ubaldi, 85, Italian actress (The Predators, Nazi Love Camp 27, Suburra: Blood on Rome).

22
Reino Börjesson, 94, Swedish footballer (IFK Göteborg, Norrby IF, national team).
Dave Courtney, 64, English gangster, writer, and actor (Triads, Yardies and Onion Bhajees, The Dead Sleep Easy, Killer Bitch), suicide by gunshot.

23
Bishan Singh Bedi, 77, Indian cricketer (Northern Punjab, Delhi, national team).
Angelo Bruschini, 62, English guitarist (The Blue Aeroplanes, Massive Attack), lung cancer.
Section: October 2023
Missing Category: missing_sentence
#############################################