In [15]:
import pandas as pd

In [16]:
df = pd.read_parquet('/scratch/tsoares/wikidumps/simplewiki-NS0-20230901/val_data/test_data.parquet')
df

,source_title,source_ID,target_title,context,section,mention_present,source_lead,first_version,second_version
0,Andouille,18,Taste,Andouille\n \n is a type of\n \n pork\n ...,Lead,True,,7592354,9074938
1,Andouille,18,Pecan,Andouille\n \n is a type of\n \n pork\n ...,Lead,True,,7592354,9074938
2,Andouille,18,Cane,Andouille\n \n is a type of\n \n pork\n ...,Lead,True,,7592354,9074938
3,Astronomy,48,Black_hole,Unsolved problems\n \n\n\n Great discoveri...,Unsolved problems,True,,9035453,9035459
4,Astronomy,48,Dark_matter,None,Unsolved problems,None,,9035250,9035453
...,...,...,...,...,...,...,...,...,...
6245,Aosta_Valley_%28Chamber_of_Deputies_constituen...,1042752,Valle_d%27Aosta,None,Lead,None,,9036987,9036989
6246,Justin_I,1042831,Latin,None,Lead,None,,9037540,9037557
6247,Justin_I,1042831,Medieval_Greek,None,Lead,None,,9037540,9037557
6248,Justin_I,1042831,List_of_Byzantine_emperors,None,Lead,None,,9037540,9037557
6249,Justin_I,1042831,Justinian_I,None,Lead,None,,9037540,9037557

In [17]:
df[df['context'].isna()]

,source_title,source_ID,target_title,context,section,mention_present,source_lead,first_version,second_version
4,Astronomy,48,Dark_matter,None,Unsolved problems,None,,9035250,9035453
5,Astronomy,48,Dark_energy,None,Unsolved problems,None,,9035250,9035453
6,Astronomy,48,Universe,None,Unsolved problems,None,,9035250,9035453
7,Astronomy,48,Cosmic_ray,None,Unsolved problems,None,,9035250,9035453
16,Denmark,208,Sovereignty,None,Politics,None,,8782872,9042572
...,...,...,...,...,...,...,...,...,...
6245,Aosta_Valley_%28Chamber_of_Deputies_constituen...,1042752,Valle_d%27Aosta,None,Lead,None,,9036987,9036989
6246,Justin_I,1042831,Latin,None,Lead,None,,9037540,9037557
6247,Justin_I,1042831,Medieval_Greek,None,Lead,None,,9037540,9037557
6248,Justin_I,1042831,List_of_Byzantine_emperors,None,Lead,None,,9037540,9037557
6249,Justin_I,1042831,Justinian_I,None,Lead,None,,9037540,9037557

In [18]:
df[df['mention_present'] == False]

,source_title,source_ID,target_title,context,section,mention_present,source_lead,first_version,second_version
8,Armenia,56,Hittites,History\n \n\n\n\n Hayasa-Azzi\n \n m...,History,False,,8924572,9089255
14,Creativity,134,Writer,"Therefore, these people say,\n \n human sci...",Lead,False,,8756023,9055178
15,Denmark,208,Writer,Because of the\n \n climate\n \n and ...,Culture,False,,9042572,9055186
30,Library,446,Writer,"With a library card, people can borrow books a...",Public libraries,False,,8936592,9055187
76,United_Kingdom,856,Fee,Education\n \n\n\n The nature of\n \n ...,Education,False,,9077625,9077630
...,...,...,...,...,...,...,...,...,...
6188,Pomeranian_%28European_Parliament_constituency%29,1038513,Pomeranian_Voivodeship,Pomeranian\n \n (\n \n Polish\n \n :\n ...,Lead,False,,9005202,9005205
6199,M4_Sherman,1040513,Korean_War,The M4 Sherman was a American medium tank that...,Lead,False,,9038924,9038934
6214,2023_Singaporean_presidential_election,1041037,Singapore_Standard_Time,Polling and results\n \n\n\n The day for p...,Polling and results,False,,9038012,9040224
6228,David_Koker,1042009,Herzogenbusch_concentration_camp,David Koker\n \n (\n \n (\n \n 1921-...,Lead,False,,9032394,9032399
6236,Overseas_%28Chamber_of_Deputies_constituency%29,1042588,Overseas_constituency,Overseas\n \n (\n \n Italian\n \n :\n ...,Lead,False,,9035815,9035850

In [20]:
for i in range(10):
    sample = df.sample(1)
    print(f"Source Title: {sample['source_title'].values[0]}")
    print(f"Target Title: {sample['target_title'].values[0]}")
    print(f"Context: {sample['context'].values[0]}")
    print(f"Version 1: {sample['first_version'].values[0]}")
    print(f"Version 2: {sample['second_version'].values[0]}")
    print(f"Source Section: {sample['section'].values[0]}")
    print(f"Present: {sample['mention_present'].values[0]}")

Source Title: Slavery_in_the_21st_century
Target Title: By-product
Context: Enslavement

  therefore no longer is about legal ownership. Modern slavery is about illegal control. In most cases, slaves are no longer bought or sold. Rather, "slavery" exists as a form of employment / labor. Today, people become trapped in slavery-like conditions in various ways. Modern slavery is often seen as a by-product of

   poverty

  . In countries that lack

   education

  and the

   rule of law

  , there can be situations which result in an environment, that helps the acceptance and spread of slavery. Slavery is most common in poor countries, and those with vulnerable minorities. It also exists in developed countries. Tens of thousands of people work in slave-like conditions in industries such as mining, farming or in factories. There they produce goods for their home market, or for export into more properous countries.
Version 1: 9051071
Version 2: 9051081
Source Section: Causes
Present: True
Source Title: Colchagua_%28historical_province%29
Target Title: O%27Higgins_Region
Context: In

   1973

  , under the government of

   Salvador Allende

  , the

   department of Cardenal Caro

  was created (cap. Marchigüe

  ). In July

   1974

  , a new reform took place, directed by the military dictatorship of

   Augusto Pinochet

  , who created regions. On

   1 January


   1976

  , the new

   VI Región (Sixth Region)

  came into existence, with the territory of former provinces of O'Higgins and Colchagua. Former departments of San Fernando, Santa Cruz and Cardenal Caro were supressed. In

   1979

  , the region was renamed VI Región del Libertador General Bernardo O'Higgins (Sixth Region of Liberator General Bernardo O'Higgins, in short, Region of O'Higgins). Its territory comprises current provinces of

   Cachapoal

  ,

   Colchagua

  and

   Cardenal Caro

  .
Version 1: 8786286
Version 2: 9084220
Source Section: History
Present: True
Source Title: Abdulhadi_al-Khawaja
Target Title: Prison
Context: Abdulhadi Abdulla Hubail Alkhawaja

  is a

   Bahraini

  -

   Danish

  human rights activists. He is now in prison in Bahrain after the

   Bahraini uprising

  . He is former president
  and co-founder
  of the

   Bahrain Centre for Human Rights

  (BCHR). This is a nonprofit non-governmental group which works to promote

   human rights in Bahrain

  . On 9 April 2011, Alkhawaja was arrested. Alkhawaja was given life imprisonment on 22 June 2011. On 8 February 2012, he started a hunger strike until "freedom or death".
Version 1: 8859524
Version 2: 9051166
Source Section: Lead
Present: True
Source Title: Fiat_Siena
Target Title: Subcompact_car
Context: The

   Fiat Siena

  is a subcompact car produced by the Italian manufacturer Fiat from 1996 to 2021. It is the four-door sedan version of the

   Fiat Palio

  , a supermini car especially designed for developing countries. It was introduced for the first time in South America, and was produced in various countries worldwide. The Siena was produced in two generations from 1996 to 2012.
Version 1: 7947497
Version 2: 9074951
Source Section: Lead
Present: True
Source Title: West_Caribbean_Airways_Flight_708
Target Title: Colombia
Context: Airline



   The Airline started a charter service in 1998. It specialized in flights to San Andrés in the Caribbean, and various areas of Colombia and

    Central America

   . West Carribean lost a turboprop Let L-410 Turbolet in March 2005 taking off from the Colombian island of Providencia in an accident in which 8 people were killed and 6 injured. In addition to the damaged MD-82, the airline's fleet included two McDonnell Douglas MD-81s, three Aérospatiale ATR 42s, and six Let L-410 Turbolets.
Version 1: 8934328
Version 2: 9043472
Source Section: Airline
Present: True
Source Title: Deaths_in_2023
Target Title: List_of_presidents_of_Italy
Context: None
Version 1: 9083374
Version 2: 9085575
Source Section: September 2023
Present: None
Source Title: Nazi_Germany
Target Title: Innocence
Context: None
Version 1: 9033898
Version 2: 9033988
Source Section: History
Present: None
Source Title: Narowal_Tehsil
Target Title: Narowal_District
Context: Narowal Tehsil

  is a subdivision (

   tehsil

  ) of Narowal District in the

   Punjab province

  of Pakistan. It is administratively subdivided into 39

   Union Councils of Pakistan

  , four of which form the tehsil capital Narowal
Version 1: 4232479
Version 2: 9044854
Source Section: Lead
Present: True
Source Title: Jungle_Junction
Target Title: Animation
Context: It was first broadcast on 2 April 2011. A total of 47 episodes were made. The program is about a group of animal-like vehicles and their adventures. The series is broadcast on

   Disney Junior

  in the United States and in the

   Netherlands

  . It is also broadcast, Portugal,

   Spain

  ,

   Turkey

  and in most of

   Asia

  . It was made in the UK by animation company Spider Eye Productions.
Version 1: 9089542
Version 2: 9089728
Source Section: Lead
Present: True
Source Title: Suresh_Raina
Target Title: India_national_cricket_team
Context: Suresh Kumar Raina (born 27 November 1986) is an Indian professional cricketer. An aggressive left-handed middle-order batsman and an occasional off-spin bowler, he is considered as one of the best fielders in world cricket. He plays for

   Uttar Pradesh

  in all forms of domestic cricket. He is the captain of

   Gujarat Lions

  in the

   Indian Premier League

  , and was the vice-captain of the Chennai Super Kings. He has also captained the Indian cricket team and is the second-youngest player ever to captain India. He is the first of the three Indian batsmen to ever score a century in all three formats of international cricket. He was born in

   Ghaziabad

  . Raina made his ODI debut in July 2005 against Sri Lanka at the age of 19. However, his Test debut came about five years later, in July 2010, against the same opposition. He scored a hundred on his Test debut.
Version 1: 7582007
Version 2: 9064414
Source Section: Lead
Present: False