# Imports and Definitions

In [71]:
import pandas as pd
from glob import glob
from tqdm import tqdm
import os
tqdm.pandas()

In [72]:
root = '/scratch/tsoares/wikidumps/simplewiki-NS0-20230801/processed_data'

# Get data

In [73]:
page_files = glob(os.path.join(root, "pages*.parquet"))
link_files = glob(os.path.join(root, "links*.parquet"))
redirect_files = glob(os.path.join(root, "redirect*.parquet"))
print(page_files)
print(link_files)
print(redirect_files)

['/scratch/tsoares/wikidumps/simplewiki-NS0-20230801/processed_data/pages_0.parquet', '/scratch/tsoares/wikidumps/simplewiki-NS0-20230801/processed_data/pages_1.parquet']
['/scratch/tsoares/wikidumps/simplewiki-NS0-20230801/processed_data/links_1.parquet', '/scratch/tsoares/wikidumps/simplewiki-NS0-20230801/processed_data/links_0.parquet']
['/scratch/tsoares/wikidumps/simplewiki-NS0-20230801/processed_data/redirect_map.parquet']

In [74]:
def simplify_html(html):
    if html is None:
        return None
    if html == '':
        return ''
    return 'a'

dfs = []
for file in tqdm(page_files):
    temp_df = pd.read_parquet(file)
    temp_df['HTML'] = temp_df['HTML'].apply(lambda x: simplify_html(x)) # simpify html so it is not too big
    dfs.append(temp_df)
df_pages = pd.concat(dfs)
df_pages

100%|██████████| 2/2 [00:38<00:00, 19.16s/it]

,title,ID,version,HTML,page_length,language,lead_paragraph,QID
0,1293,39608,https://simple.wikipedia.org/w/index.php?title...,a,4526.0,simple,1293 was a common year.,Q5557
1,1287,69411,https://simple.wikipedia.org/w/index.php?title...,a,7363.0,simple,1287 was a common year.,Q5549
2,1292,51211,https://simple.wikipedia.org/w/index.php?title...,a,13649.0,simple,,Q5555
3,1276,17718,https://simple.wikipedia.org/w/index.php?title...,a,9632.0,simple,,Q5530
4,1273,82302,https://simple.wikipedia.org/w/index.php?title...,a,11664.0,simple,,Q5526
...,...,...,...,...,...,...,...,...
36104,Muhammed_Luqman,1034534,None,None,NaN,simple,None,Q121079070
36105,Passengers_%28Elton_John_song%29,1034536,None,None,NaN,simple,None,Q48805211
36106,Android_tablet,1034547,None,None,NaN,simple,None,None
36107,Radio_Nowhere,1034549,None,None,NaN,simple,None,Q1403256
36108,Leonidlednev,1034551,None,None,NaN,simple,None,None

In [75]:
dfs = []
for file in tqdm(link_files):
    dfs.append(pd.read_parquet(file))
df_links = pd.concat(dfs)
df_links

100%|██████████| 2/2 [00:13<00:00,  6.68s/it]

,target_title,target_section,source_title,target_ID,target_QID,source_ID,source_QID,mention,source_section,link_start_index,link_end_index,sentence,sentence_raw,sentence_start_index,sentence_end_index,source_page_length,link_section_depth,context
0,Televangelism,Lead,William_M._Branham,110724,Q1407240,720496,Q383307,televangelism,Lead,12006,12099,He left a lasting impact on televangelism and...,"He left a lasting impact on <a rel=""mw:WikiLi...",11977,12395,22502,0.0.0,"William Marrion Branham (April 6, 1909 – Decem..."
1,Christmas,Lead,William_M._Branham,3317,Q19809,720496,Q383307,Christmas Eve,Lead,12900,13013,\nBranham was killed in a car crash on Christm...,"\n<p id=""mwCw"">Branham was killed in a car cra...",12849,13036,22502,0.0.0,"William Marrion Branham (April 6, 1909 – Decem..."
2,Chicago,Lead,Victory_Gardens_Theater,10193,Q1297,791858,Q7927497,Chicago,Lead,2155,2230,Victory Gardens Theater is a theater company i...,"<p id=""mwBg""><b id=""mwBw"">Victory Gardens Thea...",2077,2381,5945,0.0.0,It is located in the Lincoln Park area of the ...
3,Illinois,Lead,Victory_Gardens_Theater,11192,Q1204,791858,Q7927497,Illinois,Lead,2232,2310,Victory Gardens Theater is a theater company i...,"<p id=""mwBg""><b id=""mwBw"">Victory Gardens Thea...",2077,2381,5945,0.0.0,It is located in the Lincoln Park area of the ...
4,Lincoln_Park%2C_Chicago,Lead,Victory_Gardens_Theater,447135,Q1795453,791858,Q7927497,Lincoln Park,Lead,2403,2511,It is located in the Lincoln Park area of the...,"It is located in the <a rel=""mw:WikiLink"" hre...",2381,2640,5945,0.0.0,Victory Gardens Theater is a theater company i...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2270085,Germany,Lead,Rust%2C_Baden-W%C3%BCrttemberg,219828,Q183,752319,Q632924,Germany,Lead,22930,23005,\nRust is a municipality of the district of Or...,"<link rel=""mw:PageProp/Category"" href=""./Categ...",1801,23006,53496,0.0.0,It is the home of the famous theme park Europa...
2270086,Municipalities_of_Germany,Lead,Wald%2C_Upper_Palatinate,884087,Q262166,884545,Q547243,municipality,Lead,23256,23372,\nWald is a municipality in the district of C...,"<link rel=""mw:PageProp/Category"" href=""./Categ...",2607,23640,41228,0.0.0,
2270087,Cham_%28district%29,Lead,Wald%2C_Upper_Palatinate,743424,Q10424,884545,Q547243,Cham,Lead,23393,23481,\nWald is a municipality in the district of C...,"<link rel=""mw:PageProp/Category"" href=""./Categ...",2607,23640,41228,0.0.0,
2270088,Bavaria,Lead,Wald%2C_Upper_Palatinate,2871,Q980,884545,Q547243,Bavaria,Lead,23485,23560,\nWald is a municipality in the district of C...,"<link rel=""mw:PageProp/Category"" href=""./Categ...",2607,23640,41228,0.0.0,
2270089,Germany,Lead,Wald%2C_Upper_Palatinate,219828,Q183,884545,Q547243,Germany,Lead,23564,23639,\nWald is a municipality in the district of C...,"<link rel=""mw:PageProp/Category"" href=""./Categ...",2607,23640,41228,0.0.0,

In [76]:
dfs = []
for file in tqdm(redirect_files):
    dfs.append(pd.read_parquet(file))
df_redirects = pd.concat(dfs)
df_redirects

100%|██████████| 1/1 [00:00<00:00,  2.92it/s]

                                                                        redirect
title
Albigensian                                                            Catharism
American_Units_Of_Measurement                      United_States_customary_units
As                                                                            AS
Animalia                                                                  Animal
Bootstrap                                                                   Boot
...                                                                          ...
Constituency_%28France%29      List_of_constituencies_of_the_National_Assembl...
FC_Dornbirn_1913                                                     FC_Dornbirn
Ray_Traylor                                                         Big_Boss_Man
Dan_Fogelberg_discography                                          Dan_Fogelberg
FISU_World_University_Games                                          Universiade

[92624 rows x 1 columns]

# Analyze Pages (Nodes)

What is the total number of pages?

In [77]:
len(df_pages)

236109

What is the total number of redirects?

In [78]:
len(df_redirects)

92624

What is the number of pages with missing QID?

In [79]:
no_qid = df_pages['QID'].isna()
len(df_pages[no_qid])

166

What is the number of pages with missing HTML?

In [80]:
no_html = (df_pages['HTML'].isna()) | (df_pages['HTML'] == '')
len(df_pages[no_html])

800

What is the number of pages without a lead paragraph?

In [81]:
no_lead = (df_pages['lead_paragraph'].isna()) | (df_pages['lead_paragraph'] == '')
len(df_pages[no_lead])

1482

What is the number of pages with a lead paragraph with less than 6 words?

In [82]:
# number of pages where lead paragraph has less than 6 words
def split_text(x):
    if x is None:
        return 0
    return len(x.split(' ', 5)) 
short_lead = df_pages['lead_paragraph'].apply(lambda x: split_text(x) < 6)
len(df_pages[short_lead])

2184

What is the number of good pages if we exclude all the faulty ones?

In [83]:
len(df_pages[~no_qid & ~no_html & ~no_lead & ~short_lead])

233785

Save good data

In [84]:
for file in tqdm(page_files):
    df = pd.read_parquet(file)
    df = df[(~df['QID'].isna()) & (~df['HTML'].isna()) & (~df['lead_paragraph'].isna()) & (df['HTML'] != '') & (df['lead_paragraph'] != '') & (df['lead_paragraph'].apply(lambda x: split_text(x) >= 6))]
    df = df.reset_index(drop=True)
    df.to_parquet(file.replace('pages', 'good_pages'))

100%|██████████| 2/2 [01:27<00:00, 43.57s/it]

# Analyze Links

## Auxiliary Data Structures

In [85]:
# Pages with no html
no_html = df_pages[(df_pages['HTML'].isna()) | (df_pages['HTML'] == '')]['title'].tolist()
no_html = set(no_html)

In [86]:
# Pages with no lead paragraph
no_lead = df_pages[(df_pages['lead_paragraph'].isna()) | (df_pages['lead_paragraph'] == '')]['title'].tolist()
no_lead = set(no_lead)

In [87]:
# Pages with lead paragraph with less than 6 words
short_lead = df_pages[(df_pages['lead_paragraph'].apply(lambda x: split_text(x) < 6))]['title'].tolist()
short_lead = set(short_lead)

## Results

How many total links do we have?

In [88]:
len(df_links)

2714975

Of all the links we have, how many were missing its target?

In [89]:
no_target = df_links['target_ID'].isna()
len(df_links[no_target])

608

What is the number of links where context couldn't be parsed?

In [90]:
context_fail = df_links['context'].isna()
len(df_links[context_fail])

17619

What is the number of links without context?

In [91]:
no_context = df_links['context'] == ''
len(df_links[no_context])

78701

What is the number of links where the context is too small (less than 6 words)?

In [92]:
short_context = df_links['context'].apply(lambda x: split_text(x) < 6)
len(df_links[short_context])

162270

What is the number of links with low quality context?

In [93]:
def bad_context_eval(x):
    if x is None:
        return True
    if 'v t e' in x:
        return True
    if sum(c.isalnum() for c in x) < 0.75 * len(x):
        return True
    return False
bad_context = df_links['context'].progress_apply(lambda x: bad_context_eval(x))
len(df_links[bad_context])

100%|██████████| 2714975/2714975 [03:25<00:00, 13232.98it/s]

256432

What is the number of links with source pages without QID?

In [94]:
no_source_qid = df_links['source_QID'].isna()
len(df_links[no_source_qid])

733

What is the number of links with source pages without lead paragraph?

In [95]:
no_source_lead = df_links['source_title'].isin(no_lead)
len(df_links[no_source_lead])

15835

What is the number of links where the source lead paragraph is too small (less than 6 words)?

In [96]:
short_source_lead = df_links['source_title'].isin(short_lead)
len(df_links[short_source_lead])

23148

What is the number of links with target pages without QID?

In [97]:
no_target_qid = df_links['target_QID'].isna()
len(df_links[no_target_qid])

1129

What is the number of links with target pages without HTML?

In [98]:
target_no_html = df_links['target_title'].isin(no_html)
len(df_links[target_no_html])

5170

What is the number of links with target pages without lead paragraph?

In [99]:
target_no_lead = df_links['target_title'].isin(no_lead)
len(df_links[target_no_lead])

43749

What is the number of links where the target lead paragraph is too small (less than 6 words)?

In [100]:
target_short_lead = df_links['target_title'].isin(short_lead)
len(df_links[target_short_lead])

59203

What is the number of links where the source is the same as the target?

In [101]:
target_same_source = df_links['target_title'] == df_links['source_title']
len(df_links[target_same_source])

5031

What is the number of good links?

In [102]:
len(df_links[~no_target & ~context_fail & ~no_context & ~short_context & ~bad_context & ~no_source_qid & ~no_source_lead & ~short_source_lead & ~no_target_qid & ~target_no_html & ~target_no_lead & ~target_short_lead & ~target_same_source])

2255237

Save good links

In [103]:
for file in tqdm(link_files):
    df = pd.read_parquet(file)
    df = df[(~df['target_ID'].isna()) & (~df['source_QID'].isna()) & (~df['target_QID'].isna()) & (~df['target_title'].isin(no_html)) & (~df['target_title'].isin(no_lead)) & (~df['source_title'].isin(no_lead)) & (~df['context'].isna()) & (df['context'] != '') & (~df['context'].apply(lambda x: bad_context_eval(x))) & (~df['source_title'].isin(short_lead)) & (~df['target_title'].isin(short_lead)) & (df['source_title'] != df['target_title']) & (df['context'].apply(lambda x: split_text(x) >= 6))]
    df = df.reset_index(drop=True)
    df.to_parquet(file.replace('links', 'good_links'))

100%|██████████| 2/2 [03:57<00:00, 118.70s/it]

In [104]:
for i in range(10):
    sample = df_links.sample()
    print('SOURCE', sample['source_title'].item())
    print('TARGET', sample['target_title'].item())
    print('CONTEXT', sample['context'].item())
    print('SENTENCE', sample['sentence'].item())
    print('SECTION', sample['source_section'].item())
    print('###############')

SOURCE Deaths_in_September_2021
TARGET Iv%C3%A1n_Vit%C3%A1nyi
CONTEXT ] Yolanda Fernández de Cofiño, 86, Guatemalan businesswoman and philanthropist, creator of the Happy Meal. Enrique González Pedrero, 91, Mexican politician and writer, Senator (1970–1976), Governor of Tabasco (1982–1987) and Deputy (1997–2000). Zanele kaMagwaza-Msibi, 59, South African politician, Leader of the National Freedom Party (since 2011) and MP (2014–2019), COVID-19. Jan-Erik Kjellberg, 97, Swedish engineer and writer, last living Swedish volunteer soldier of the Continuation War. Dick Parfitt, 90, American college basketball coach (Central Michigan Chippewas). Todd Scully, 72, American Olympic racewalker (1976), car crash. Adlai Stevenson III, 90, American politician, member of the Illinois House of Representatives (1965–1967), State Treasurer (1967–1970) and U.S. Senator (1970–1981), problems caused by Lewy body dementia. Anthony Ukpo, 74, Nigerian politician, Governor of Rivers State (1986–1988). John Watkins, 98, South African cricketer (Natal, national team), COVID-19. Michael K. Williams, 54, American actor (The Wire, Boardwalk Empire, Assassin's Creed), suspected drug overdose. Severian Yakymyshyn, 91, Canadian Ukrainian Greek Catholic hierarch, Bishop of New Westminster (1995–2007). Donald Zec, 102, British journalist (Daily Mirror). (death announced on this date) Peter Arnold, 94, New Zealand cricketer (Northamptonshire, Canterbury). Jahangir Butt, 78, Pakistani field hockey player, Olympic champion (1968). Sam Cunningham, 71, American football player (New England Patriots). Issei Kitagawa, 78, Japanese politician, member of the House of Councillors (2004–2016), prostate cancer. Martha Patricia Ramírez Lucero, 69, Mexican lawyer and politician, Deputy (2018-2021). Eiichi Yamamoto, 80, Japanese movie director (Belladonna of Sadness, Little Wansa) and screenwriter (Space Battleship
SENTENCE Iván Vitányi, 96, Hungarian philosopher and politician, MP (1990–2014).
SECTION September
###############
SOURCE Daniel_LaRusso
TARGET The_Karate_Kid_Part_III
CONTEXT Role in Karate Kid III Mister Miyagi tells Daniel not to fight in the tournament so Daniel goes to the police instead. Then the people who were harassing Daniel tell him that they will drown him and the girl with him unless he says yes and then Daniel agrees. So Daniel goes to Terry Silver and asks him to teach him karate. But then Daniel thinks that what Silver is teaching him is making him a bad person and asks him to stop so Silver tells him that John Kreese is alive and has Kreese attack him. After that Mr. Miyagi teaches Daniel fighting and Daniel wins the tournament.
SENTENCE In The Karate Kid Part III, Terry Silver sends people to rob Mister Miyagi’s store, steal his plants and destroy his property and attack Daniel and they say that they won’t stop unless Daniel fights in the karate tournament.
SECTION Role in Karate Kid III
###############
SOURCE Telluric_acid
TARGET Tellurate
CONTEXT Telluric acid is a chemical compound. It is an acid. Its chemical formula is H6TeO6. It contains the TeO66- form of the tellurate ion.Telluric acid is a weak acid. It reacts with strong bases to make tellurates. It is a powerful oxidizing agents. It can be dehydrated to make tellurium trioxide. The metatelluric acid, H2TeO4, does not exist. Telluric acid can be made by reacting tellurium dioxide with chromium trioxide or hydrogen peroxide. It is used to make other tellurates such as sodium tellurate.
SENTENCE  It contains hydrogen and tellurate ions.
SECTION Lead
###############
SOURCE January_7
TARGET 1789
CONTEXT Events 1325 – Alfonso IV becomes King of Portugal. 1350 - Guttorm Palsson, Bishop of Stavanger in Norway, dies, as the last known death from Europe's 1347-1350 plague epidemic. 1558 – France takes Calais, the last continental possession of England. 1566 – Pius V becomes Pope. 1598 – Boris Godunov seizes the throne of Russia. 1601 – Robert Devereux, 2nd Earl of Essex leads revolt in London against Queen Elizabeth I of England. 1608 - Fire destroys Jamestown, Virginia. 1610 – Galileo Galilei observes the four largest moons of Jupiter for the first time. He named them and in turn the four are called the Galilean moons. 1782 – The first American commercial bank opens (Bank of North America). 1785 – Frenchman Jean-Pierre Blanchard and American John Jeffries travel from Dover, England to Calais, France in a gas balloon, becoming the first to cross the English Channel by air. 1797 – The parliament of the Repubblica Cisalpina adopts the Italian green-white-red tricolour as the official flag. It is the birthday of the flag of Italy. 1835 – HMS Beagle anchors off the Chonos Archipelago. 1894 – W.K. Dickson receives a patent for movie film. 1896 – Fannie Farmer publishes her first cookbook. – 1901 – Alferd Packer is released from prison after serving 18 years for cannibalism. 1904 – The distress signal "CQD" is established only to be replaced two years later by "SOS." 1911 – Mary Pickford marries Owen Moore. 1919 - Montenegrin guerrilla fighters rebel against the planned annexation (take-over) of Montenegro by Serbia, but fail. 1922 – Dáil Éireann ratifies the Anglo-Irish Treaty by 64-57 votes. 1924 – George Gershwin completes "Rhapsody in Blue". 1926 – George Burns marries Gracie Allen. 1927 – First international telephone call – New York City to London. 1927 – The Harlem Globetrotters play their first basketball game. 1931 - Guy Menzies becomes the first
SENTENCE 1789 - George Washington is elected the first President of the United States, taking office on April 30.
SECTION Events
###############
SOURCE Symphonie_fantastique
TARGET String_instrument
CONTEXT The instruments used
SENTENCE The symphony is played by an orchestra consisting of 2 flutes (2nd doubling piccolo), 2 oboes (2nd doubling cor anglais), 2 clarinets (1st doubling E-flat clarinet), 4 bassoons, 4 French horns, 2 trumpets, 2 cornets, 3 trombones, 2 ophicleides (originally one ophicleide and one serpent), 2 pairs of timpani, snare drum, cymbals, bass drum, bells in C and G, 2 harps, and strings.
SECTION The instruments used
###############
SOURCE From_Hell_to_Victory
TARGET George_Peppard
CONTEXT From Hell to Victory (Italian: Contro 4 bandiere, French: De l'enfer à la victoire, Spanish: De Dunkerke a la victoria) is a 1979 Italian Spanish French World War II drama movie directed by Edmondo Amati and Umberto Lenzi.
SENTENCE  Actors include George Peppard, George Hamilton, Horst Bucholz, Ray Lovelock, Anny Duperey, Lambert Wilson, Jean-Pierre Cassel.
SECTION Lead
###############
SOURCE Itchy_%26_Scratchy%3A_The_Movie
TARGET The_Simpsons
CONTEXT Story Homer and Marge go to a parent-teacher conference. Marge is told that Lisa is doing well, but Homer is told that Bart is making trouble. Bart's teacher, Mrs. Krabappel, wants Homer and Marge to control Bart better. When Homer and Marge go home, they find out that Bart has broken Grampa's false teeth. Homer makes him go up to his room with no dinner, but gives him pizza because he feels bad for Bart. Bart buys a ticket to see the new Itchy & Scratchy movie. Homer makes Bart watch Maggie while he is gone. Bart does not watch her and Maggie crashes Homer's car. Homer becomes very angry and says that Bart can not watch the Itchy & Scratchy movie. Bart tries to go to a movie theater to see it, but the theater employees are told by Homer that Bart can not see it. Marge and Lisa try to tell Homer that Bart should see the movie, but Homer still does not want him to. Later, the movie is no longer shown in theaters. Homer tells Bart that he will be responsible and he will grow up to be a good man.40 years later, Bart becomes the Chief Justice of the United States and Homer is a senior citizen. Homer sees that the Itchy & Scratchy movie is in theaters again and lets Bart see the movie for the first time.
SENTENCE  Two months after the movie is first shown, Bart is the only kid in Springfield who has not seen the movie.
SECTION Story
###############
SOURCE Abel_Tasman
TARGET Tasman_Peninsula
CONTEXT Western Australia 1644 In 1644 Tasman sailed from Batavia with the ships Limmen, Zeemeeuw and Bracq. He sailed along the west coast of New Guinea, and then the coast of Australia from Cape York to North West Cape. He went back to Batavia in August 1644. He showed that Western Australia and Queensland were part of the same country. He was not able to get through Torres Strait, but his maps were used for the next 200 years. Tasman made more trips including to Sumatra in 1646, Siam in 1647, and Manila in 1648. He purchased a lot of land in Batavia where he died in October 1659.
SENTENCE
Several places have been named after him, including Tasmania, the Tasman Peninsula, Tasman Island and the Tasman Sea.
SECTION Western Australia 1644
###############
SOURCE European_Council
TARGET Legislature
CONTEXT The European Council (referred to as a European Summit) is the highest political body of the European Union. It is made of all the heads of state or government of the Union's member states and with the President of the European Commission. The country which holds the Presidency of the Council of the European Union also leads its assemblies. It is an institution that deals with very important issues and any decisions made are "a major impetus in defining the general political guidelines of the European Union". The Council meets at least twice a year; usually in the Justus Lipsius building, the quarters of the Council of the European Union (Consilium) of Brussels.
SENTENCE
The Council has no formal executive or legislative powers.
SECTION Lead
###############
SOURCE West_Springfield%2C_Virginia
TARGET Fairfax_County%2C_Virginia
CONTEXT Location The town borders (touches) the Norfolk Southern Railway to the north, Accotink Creek to the east, Fairfax County Parkway to the south, and Pohick Creek to the west.
SENTENCE West Springfield is located in Fairfax County at 38°47′18″N 77°13′58″W﻿ / ﻿38.78833°N 77.23278°W﻿ / 38.78833; -77.23278 (38.788436, −77.232802).
SECTION Location
###############